IO_LOC  "cols[3]" 39;
IO_PORT "cols[3]" IO_TYPE=LVCMOS33;

IO_LOC  "digit[3]" 57;
IO_PORT "digit[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "digit[1]" 31;
IO_PORT "digit[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "digit[0]" 32;
IO_PORT "digit[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[1]" 34;
IO_PORT "seg[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[6]" 40;
IO_PORT "seg[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[5]" 41;
IO_PORT "seg[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[0]" 42;
IO_PORT "seg[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[4]" 53;
IO_PORT "seg[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[3]" 54;
IO_PORT "seg[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[2]" 55;
IO_PORT "seg[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "digit[2]" 56;
IO_PORT "digit[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "cols[0]" 33;
IO_PORT "cols[0]" IO_TYPE=LVCMOS33;

IO_LOC  "cols[1]" 30;
IO_PORT "cols[1]" IO_TYPE=LVCMOS33;

IO_LOC  "cols[2]" 29;
IO_PORT "cols[2]" IO_TYPE=LVCMOS33;

IO_LOC  "rows[0]" 28;
IO_PORT "rows[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rows[1]" 27;
IO_PORT "rows[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rows[2]" 26;
IO_PORT "rows[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rows[3]" 25;
IO_PORT "rows[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
